main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

main .main-texts {
	display: flex;
	flex-direction: column;
	align-items: center
}

main .welcome-img {
	max-width: 100%;
	min-width: 500px;
	height: auto;
	animation: slideInFromLeft 1.2s ease-in-out forwards;
}

main .text {
	font-size: 2.2rem;
	color: var(--blue1-color);
	animation: slideInFromRight 1.2s ease-in-out forwards;
}

main .buttons {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}

.buttons .button {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2rem;
	font-weight: 450;
	width: 18rem;
	height: 4rem;
	border: 0.2rem solid var(--blue1-color);
	border-radius: 3rem;
	margin-top: 2rem;
	color: var(--blue1-color);
	box-shadow: 0px 4px 4px var(--shadow-color);
	text-decoration: none;
	transition: .4s;
}

.buttons .button:first-child {
	animation: slideInFromLeft 1.2s ease-in-out;
 }
 
 .buttons .button:last-child {
	animation: slideInFromRight 1.2s ease-in-out;
 }

.buttons .button:hover {
	background-color: var(--blue1-color);
	box-shadow: 0px 4px 6px var(--blue1-color);
	color: var(--white-color);
	transition: .4s;
	transform: translateY(-8%);
}