footer {
	display: flex;
	justify-content: center;
	width: 100%;
}
footer .container {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.icons-social {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 100%;
}

.icon-container {
	display: flex;
	flex-direction: column;
	align-items: baseline;
	gap: 1rem;
	margin: 1.5rem 0 1rem 0;
}

.icon-group {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}
.icon-group img {
	width: 2rem;
	height: auto;
}
.icon-group a {
	text-decoration: none;
	color: var(--black-color);
	font-size: 1rem;
	transition: .4s;
}

.icon-group a:hover {
	color: var(--blue1-color);
	transition: .4s;
}

footer .container .bar {
	width: 100%;
	height: 0.1rem;
	background: var(--gray3-color);
	margin-top: 1rem;
}

footer .container .by {
	font-size: 1.2rem;
	padding: 1rem;
	color: var(--blue1-color);
	font-weight: 800;
}

@media (max-width: 768px) {

	footer .container {
		align-items: center;
	}

	.icons-social {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: left;
		flex-wrap: nowrap;
		width: auto;
	}

	.icon-container {
		margin: 0;
		gap: 0;
	}

	.icon-group {
		margin: 0.5rem 0;
	}
}



.icon-footer {
	animation: fadeInUp .5s ease-in-out backwards;
	animation-delay: .0s;
	opacity: 1;
}

.link-icon {
	animation: fadeInUp .5s ease-in-out backwards;
	animation-delay: .1s;
	opacity: 1;
}

.icon-footer2 {
	animation: fadeInUp .5s ease-in-out backwards;
	animation-delay: .2s;
	opacity: 1;
}

.link-icon2 {
	animation: fadeInUp .5s ease-in-out backwards;
	animation-delay: .3s;
	opacity: 1;
}

.icon-footer3 {
	animation: fadeInUp .5s ease-in-out backwards;
	animation-delay: .4s;
	opacity: 1;
}

.link-icon3 {
	animation: fadeInUp .5s ease-in-out backwards;
	animation-delay: .5s;
	opacity: 1;
}

.icon-footer4 {
	animation: fadeInUp .5s ease-in-out backwards;
	animation-delay: .6s;
	opacity: 1;
}

.link-icon4 {
	animation: fadeInUp .5s ease-in-out backwards;
	animation-delay: .7s;
	opacity: 1;
}

.icon-footer5 {
	animation: fadeInUp .5s ease-in-out backwards;
	animation-delay: .8s;
	opacity: 1;
}

.link-icon5 {
	animation: fadeInUp .5s ease-in-out backwards;
	animation-delay: .9s;
	opacity: 1;
}

footer .container .bar {
	animation: fadeInUp .5s ease-in-out backwards;
	animation-delay: 1s;
	opacity: 1;
}

footer .container .by {
	animation: fadeInUp .5s ease-in-out backwards;
	animation-delay: 1.1s;
	opacity: 1;
}
