header {
	display: flex;
	justify-content: center;
	width: 100%;
	padding: 1rem 0px;
}

header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header .container .logo {
	max-width: 100%;
	height: auto;
}

nav .menu {
	list-style: none;
	display: flex;
	gap: 1rem;
}

.menu a {
	font-size: 1.7rem;
	text-decoration: none;
	position: relative;
	display: block;
	padding: 5px;
	color: var(--black-color);
 }

 .menu a:hover {
	color: var(--blue1-color);
	transition: 1s;
	transform: translateY(5%);
 }
 
 .menu a::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background: var(--blue1-color);
	z-index: 1;
	transform: scaleX(0);
	transform-origin: left;
	transition: transform 0.5s ease-in-out;
 }
 
 .menu a:hover::before {
	transform: scaleX(1);
 }

 .menu[data-animation="center"] a::before {
	transform-origin: center;
 }
 
 .menu a.active {
	color: var(--blue1-color);
 }
 
 .menu a.active::before {
	transform: scaleX(1);
	transform-origin: center;
 }
 

.menu_user {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	border: 1px solid var(--black-color);
	width: auto;
	max-width: 17rem;
	height: 40px;
	border-radius: 16px;
	padding: 1rem;
	transition: .4s;
	box-shadow: 0 4px 4px var(--shadow-color);
}

.menu_user .name-id {
	color: var(--black-color);
	font-size: 1.4rem;
	font-weight: 700;
	transition: .4s;
	user-select: none;
}

.menu_user img {
	width: 3rem;
	height: auto;

}

.menu_user:hover {
	cursor: pointer;
	border: 1px solid var(--blue1-color);
	box-shadow: 0 4px 6px var(--blue1-color);
	transition: .4s;
	transform: translateY(5%);
}

.menu_user:hover .name-id {
	color: var(--blue1-color);
	transition: .4s;
}

.menu_user-toggle {
	cursor: pointer;
	border: 1px solid var(--blue1-color);
	box-shadow: 0 4px 6px var(--blue1-color);
	transition: .4s;
	transform: translateY(5%);
}

.menu_user-toggle .name-id {
	color: var(--blue1-color);
	transition: .4s;
}

@media (max-width: 768px) {
	.nav-desktop {
		display: none;
	}

	header .container .logo {
		width: 10rem;
		height: auto;
	}
}



.logo {
	animation: fadeInDown .5s ease-in-out backwards;
	animation-delay: .0s;
	opacity: 1;
}

.menu li:nth-child(1) {
	animation: fadeInDown .5s ease-in-out backwards;
	animation-delay: .2s;
	opacity: 1;
}

.menu li:nth-child(2) {
	animation: fadeInDown .5s ease-in-out backwards;
	animation-delay: .4s;
	opacity: 1;
}

.menu li:nth-child(3) {
	animation: fadeInDown .5s ease-in-out backwards;
	animation-delay: .6s;
	opacity: 1;
}

.menu li:nth-child(4) {
	animation: fadeInDown .5s ease-in-out backwards;
	animation-delay: .8s;
	opacity: 1;
}

.menu li:nth-child(5) {
	animation: fadeInDown .5s ease-in-out backwards;
	animation-delay: 1s;
	opacity: 1;
}

.menu_user {
	animation: fadeInDown .5s ease-in-out backwards;
	animation-delay: 1.2s;
	opacity: 1;
}